.c-navbar {
  position: relative;
  background-color: black;
  width: 100%;
  display: flex;
  padding: 20px;

  &__list {
    display: flex;
    gap: 15px;
  }
  &__link {
    display: block;
    padding: 10px 15px;
    background-color: white;
    color: black;
    font-weight: 700;
    transition: all ease 0.5s;
    text-decoration: none;

    &:hover {
      background-color: getColor('default', 2);
    }
  }

  &__button {
    background-color: transparent;
    border: 0px;
    cursor: pointer;
  }
  &__hamburger {
    width: 35px;
  }
}
